:root {
    --primario: #6834a6;
    --blanco: #FFF;
    --negro: #000000;
    --fuentePrincipal: 'Poppins', sans-serif;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.8;
}
h1, h2, h3 {
    font-weight: 900;
    margin: 2rem 0;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 4.6rem;
}
h3 {
    font-size: 3rem;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    display: block;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

.mask{
    overflow: hidden;
}

/** Header **/

.header{
   background-image: url(../../public/img/header_bg.svg);
   background-repeat: no-repeat; 
   background-position: top right;
   padding: 5rem 0;
   background-size: 10rem;
}
@media (min-width: 768px) { 
    .header{
        background-size: 55rem;
    }
}
@media (min-width: 992px) { 
    .header{
        background-size: 60rem;
    }
}
@media (min-width: 1280px) { 
    .header{
        background-size: 110rem;
    }
}
[class$="__contenedor"]
{
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

@media (min-width: 768px) { 
    .header__barra{
        display: flex;
        justify-content: space-between;
    }
}

.header__logo{
    width: 15rem;
    margin: 0 auto 3rem auto;
}
@media (min-width: 768px) { 
    .header__logo{
        margin:0;
    }
    .header__grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:5rem;
    }
}
@media (min-width: 768px) { 
    .header__texto{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.header__heading{
    font-size: 3rem;
    text-align: center;
    line-height: 1.2;
}
@media (min-width: 768px) { 
    .header__heading{
        text-align: left;
        font-size: 5rem;
    }
}

@media (min-width: 768px) { 
    .header__imagen{
        max-width: 30rem;
        margin: 0 auto;
    }
}
.header__boton{
    background-color: var(--primario);
    display: block;
    padding: 1rem;
    text-align: center;
    color: var(--blanco);
    margin-bottom: 4rem;
}
@media (min-width: 990px) { 
    .header__boton{
        display: inline;
        padding: 1rem 3rem;
        width: 50%;
    }
}
.navegacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.navegacion__link{
    color:var(--primario) ;
}

@media (min-width: 768px) { 
    .navegacion{
        flex-direction: row;
        align-items: start;
        gap:2rem;
    }
    .navegacion__link{
        color: var(--blanco);
    }
}


.nucleus{
    margin-top: 3rem;
}

.nucleus__heading{
    text-align: center;
    margin-bottom: 5rem;

}

.nucleus__contenedor{
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}
.nucleus__grid{
    display: flex;
    flex-direction: column-reverse;
}
@media (min-width: 768px) { 
    .nucleus__grid{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap:5rem;
        align-items: center;
        
    }
}

.listado{

}

.listado__elemento{
    box-shadow: 0px 0px  15px 3px  rgb(0 0 0  / .15);
    padding: 2rem;
    margin-bottom: 5rem;
    transition-property: transform;
    transition-duration: .300s;
    background-color: var(--blanco);
}
.listado__elemento:hover{
    transform: scale(1.1);
}

@media (min-width: 768px) { 
    .listado__elemento--2col{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }
}

.listado__heading{
    font-size: 3rem;
    color: var(--primario);
    margin: 0;
}
.listado__texto{
    margin: 0;
    font-size: 2rem;
}

.listado__numero{
    font-size: 6rem;
    margin: 0;
    font-weight: 900;
    color: var(--primario);
    text-align: center;
}
@media (min-width: 768px) { 
    .listado__numero{
        flex-basis: 20rem;
        text-align: right;
        font-size: 4rem;
    }
}
.seguridad{
    background-color: var(--primario);
    padding: 12rem 0;
    position: relative;
    margin-top: 10rem;
    /* overflow: hidden; */
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
}
/* .seguridad::before,
.seguridad::after{
    background-color: var(--blanco);
    content: '';
    height: 20rem;
    width: 130%;
    display: block;
    position: absolute;
}

.seguridad::before{
    top: -10rem;
    left: 0;
    transform: rotate(3deg);
}
.seguridad::after{
    bottom: -10rem;
    left: 0;
    transform: rotate(3.5deg);

} */
.seguridad__heading{
    text-align: center;
    color: var(--blanco);
    
}

@media (min-width: 768px) { 
    .seguridad__grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        margin-top: 6rem;
        align-items: center;
    }
}

@media (min-width: 768px) { 
    .comisiones__grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 5rem;
        align-items: flex-end;
    }
}
@media (min-width: 998px) { 
    .comisiones__grid{
        align-items: center;
    }
}
.comisiones__texto{
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
}
@media (min-width: 768px) { 
    .comisiones__texto{
        text-align: left;
    }
}
.testimoniales{
    background-color: var(--primario);
    padding: 5rem 0;
}

.testimoniales__heading{
    text-align: center;
    color: var(--blanco);
}



@media (min-width: 768px) { 
    .testimoniales__grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
}
.testimonial{
    box-shadow: 0px 0px  15px 3px  rgb(0 0 0  / .15);
    background-color: var(--blanco);
    padding: 1rem;
    margin-bottom: 2rem;
    position: relative;
}
.testimonial__texto{
    padding-left: 4rem;
}
.testimonial__texto::before{
    content: "";
    background-image: url(../../public/img/comilla.png);
    background-size: 3rem;
    background-repeat: no-repeat;
    background-position: center;
    width: 3rem;
    height: 3rem;
    position: absolute;
    top:25px;
    left: 10px;
}

@media (min-width: 768px) { 
    .testimonial{
        margin-bottom: 0;
    }
}
.testimonial__autor{
    color: var(--primario);
    text-align: end;
}

.footer{
    background-color: #5a30a0;
    padding: 3rem;
}
@media (min-width: 768px) { 
    .footer__grid{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
.footer__logo{
    width: 20rem;
    margin: 0 auto 4rem auto;
}
@media (min-width: 768px) { 
    .footer__logo{
        margin: 0;
    }
}
.navegacion__link--blanco{
    color: var(--blanco);
}